@import './components/variables.scss' ;
@import './components/mixin.scss' ;
@import './components/extend.scss';
@import './components/if-else.scss';

.p1 {
    color: $mainTextColor;
    font-size: 30px;
    background-color: $Egg;
}

nav {
    ul {
        margin: 15px;
        padding: 0px;
        list-style: none;

        li{
            display: inline-block;
        }

        a{
            text-decoration: none;
            color: $mainTextColor;
            font-size: $defaultFontSize;

            &:hover{
                color: white;
            }
        }
    }
}

.success{
    @include button
}

