<div class='mt-4'>
    <h3>Đăng khoá học</h3>
    <form method='POST' action='/courses/store'>
        <div class='mb-3 row form-group'>
            <div class='col-sm-10 mt-4'>
                <label for='name' class='col-sm-2 col-form-label'>Tên khoá học</label>
                <input
                    style=' border: 2px solid white;'
                    type='text'
                    class='form-control-plaintext'
                    id='name'
                    name='name'
                />
            </div>
            <div class='col-sm-10 mt-4'>
                <label for='description' class='col-sm-2 col-form-label'>Mô tả</label>
                <input
                    style=' border: 2px solid white;'
                    type='text'
                    class='form-control-plaintext'
                    id='description'
                    name='description'
                />
            </div>
            <div class='col-sm-10 mt-4'>
                <label for='level' class='col-sm-2 col-form-label'>Trình độ </label>
                <input
                    style=' border: 2px solid white;'
                    type='text'
                    class='form-control-plaintext'
                    id='level'
                    name='level'
                />
            </div>
            <div class='col-sm-10 mt-4'>
                <label for='VideoID' class='col-sm-2 col-form-label'>VideoID</label>
                <input
                    style=' border: 2px solid white;'
                    type='text'
                    class='form-control-plaintext'
                    id='VideoID'
                    name='VideoID'
                />
            </div>
        </div>

        <button type='submit' style=' border: 2px solid white;' class='btn'>Thêm khoá học</button>

    </form>

</div>