<div class='mt-4'>
    <div class='row'>
        <div class='col-lg-3'>
            <button>HOC NGAY</button>
        </div>
        <div class='col-lg-9'>
            <h2>{{course.name}}</h2>
            <iframe
                width='887'
                height='499'
                src='https://www.youtube.com/embed/{{course.videoId}}'
                title='STARFIELD #1: CHƠI THỬ BOM TẤN THẾ GIỚI MỞ 2023 !!! ỨNG VIÊN GOTY TỐN 400 TRIỆU USD &amp; 7 NĂM SẢN XUẤT'
                frameborder='0'
                allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
                allowfullscreen
            ></iframe>
            <p>Xây dựng web thực tế</p>
        </div>
    </div>
</div>